@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0%;
  padding: 0%;
  font-family: 'Raleway', sans-serif;
}

body, html{
  background-image: url(../imagens/HERO\ BACKGROUND@2x.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  width: 100vw;
}

h1{
  font-weight: normal;
  color: white;
  padding-left: 20px;
  display: inline;
}

a{
  text-decoration: none;
  color: white;
}

span{
  position: absolute;
  left: 92%;
  top: 4%;
  transform: translateX(-50%);
  cursor: pointer;
  color: white;
  text-align: center;
}

.material-symbols-rounded{
  display: none;
}

#itens{
  display: none;
  text-align: center;
  margin-top: 20%;
  font-size: 25px;
}

li{
  padding: 3%;
}

h2, p{
  color: white;
  text-align: center;
}

h2{
  font-weight: normal;
  padding-top: 60px;
}

img{
  width: 480px;
  height: 300px;
  padding-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 600px;
  height: auto;
  margin: 0 auto;
}

#logos{
  margin-top: 80px;
}

#logos img{
  height: 40%;
  padding: 3%;
  width: 25%;
  max-width: 193px;
  display: inline-block;
}

#pq{
  text-align: center;
  padding-top: 40px;
}

h3{
  font-size: 40px;
}

#expe{
  color: black;
  padding-top: 25px;
  font-size: 16px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  overflow: scroll;
}

.box {
  flex: 0 0 auto;
  width: 50%;
  height: auto;
  margin-top: 50px;
  margin-left: 30px;
  border: 1px solid rgba(0, 0, 0, 0.158);
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.356);
}

.box > img{
  width: 90px;
  height: 90px;
  margin: 0%;
  padding: 0%;
}

h4{
  text-align: center;
}

.box > p{
  color: black;
  font-size: 16px;
  text-align: left;
  padding: 15px;
}

#vamos{
  background-color: blue;
  margin-top: 65px;
  text-align: center;
  padding-bottom: 40px;
}

#vamos > h2{
  font-size: 32px;
}

#vamos p{
  font-size: 17px;
  margin-bottom: 15px;
}

#vamos > a{
  border: 1px solid rgba(0, 0, 0, 0.178);
  border-radius: 8px;
  background-color: rgb(255, 255, 32);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.397);
  color: rgb(0, 0, 0);
  padding-left: 120px;
  padding-right: 120px;
  padding-top: 12px;
  padding-bottom: 12px;
}

#pc{
  border: 1px solid rgba(0, 0, 0, 0.13);
  border-radius: 30px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.349);
  width: 77%;
  margin: auto;
  margin-top: 65px;
}

#pc > img{
  padding: 0%;
  padding-top: 6px;
  padding-bottom: 6px;
  width: 97%;
}

#bene > h3{
  margin-top: 70px;
  padding-top: 25px;
  margin-bottom: 35px;
}

#bene{
  text-align: center;
  border-radius: 18px;
  background: linear-gradient(145deg, #2a00e68f, #00ff2f8f);
  box-shadow:  5px 5px 6px #16006667,
             -5px -5px 6px #1900ff69;
  width: 79%;
  height: 600px;
  margin: auto;
}

#bene > p{
  color: black;
  font-size: 19px;
  padding: 18px;
}

#bene > a{
  font-weight: 600;
  border: 1px solid rgba(0, 0, 0, 0.171);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.397);
  background-color: blue;
  border-radius: 7px;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.depoimento{
  flex: 0 0 auto;
  width: 60%;
  height: auto;
  margin-top: 50px;
  margin-left: 70px;
  border: 1px solid rgba(0, 0, 0, 0.158);
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.356);
}

.depoimento > img{
  width: 66px;
  height: 65px;
  padding: 18px;
}

.depoimento > p{
  color: black;
  padding: 10px;
  text-align: center;
}

#contato{
  margin-top: 50px;
}

#contato > h3{
  text-align: center;
  margin-bottom: 50px;
}

input{
  padding-left: 10px;
  display: block;
  margin: auto;
  width: 70%;
  height: 50px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.336);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.411);
}

#itexto{
  height: 150px;
}

input[type="submit"]{
  background-color: rgb(26, 26, 255);
  color: white;
}

#roda{
  background-color: rgb(26, 26, 255);
  padding: 20px;
  margin-top: 50px;
}