.code{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.titulo{
  text-align: center;
}

.paragrafo{
  font-size: 19px;
  text-align: justify;
  margin-left: 140px;
  margin-right: 140px;
}

.azul{
  color: #38B6ED;
  text-decoration: underline;
  font-weight: 900;
}