*{
  margin: 0.5px;
  padding: 0%;
  font-family: Arial, Helvetica, sans-serif;
}

header{
  text-align: center;
  border: 2px solid black;
  height: 100px;
  width: 98.4vw;
}

h1{
  margin-top: 15px;
  text-decoration: underline;
  color: rgb(255, 70, 24);
  font-size: 32px;
}

header > p{
  font-size: 15px;
  font-weight: 600;
}

main{
  display: inline-block;
}

#conteudo{
  display: inline;
  float: left;
  border: 2px solid black;
  width: 98.3vw;
}

#conteudo > h1{
  padding-left: 25px;
  padding-bottom: 15px;
}

#conteudo > p{
  padding-left: 10px;
  padding-bottom: 18px;
}

label{
  font-weight: 600;
  font-size: 18px;
  padding-left: 10px;
  margin-bottom: 45px;
}

input{
  margin-bottom: 25px;
  padding: 3px;
}

#iqual{
  margin-top: 12px;
  margin-left: 12px;
}

textarea{
  padding-left: 4px;
  padding-top: 2px;
  margin-left: 12px;
  margin-top: 8px;
  margin-right: 12px;
  resize: none; 
  width: 350px;
  height: 100px;
}

input[type="reset"]{
  margin-left: 12px;
  margin-top: 12px;
  margin-right: 20px;
  padding: 6px;
}

input[type="submit"]{
  padding: 6px;
}

#menu{
  border: 2px solid black;
  display: inline;
  float: right; 
  width: 98.3vw;
}

#menu > h1{
  margin-left: 25px;
}

li{
  margin-left: 40px;
  padding-top: 25px;
}

li > a{
  text-decoration: none;
  color: black;
  font-weight: 600;
}

li > a:hover{
  color: rgb(148, 148, 0);
  text-decoration: underline;
}

h2{
  padding-top: 80px;
  text-align: center;
  font-size: 28px;
}

h2 > a{
  color: black;
  text-decoration: none;
}

h2 > a:hover{
  text-decoration: underline;
  color: blue;
}

#menu > p{
  text-align: center;
  font-size: 16px;
  padding: 15px;
}

@media screen and (min-width: 768px) and (max-width: 1000px){
  header{
    height: 100px;
    width: 94.7vw;
    margin-left: 16px;
  }

  #conteudo{
    margin-left: 15px;
    width: 60vw;
  }

  #menu{
    width: 34vw;
  }

  #menu > p{
    padding-bottom: 45px;
  }
}

@media screen and (min-width: 1001px){
  header{
    height: 100px;
    width: 96.3vw;
    margin-top: 10px;
    margin-left: 22px;
  }

  #conteudo{
    width: 69vw;
    margin-left: 21px;
    padding-left: 20px;
    
  }

  input[type="reset"]{
    padding: 8px;
  }
  
  input[type="submit"]{
    padding: 8px;
  }

  #menu{
    width: 25.6vw;
  }

  #menu > h2{
    padding-top: 80px;
  }

  #menu > p{
    padding-bottom: 49px;
  }
}