*{
  margin: 0%;
  padding: 0%;
}

body{
  background-color: black;
}

h1{
  text-align: center;
  background-color: darkred;
  color: white;
  text-decoration: underline;
  padding: 30px;
}

legend{
  color: white;
  font-size: 34px;
}

form{
  text-align: center;
  padding: 150px;
}

p{
  color: white;
}

input{
  margin: 8px;
}